[user]
    name = jalemy
    email = jalemy.xps@gmail.com
[color]
    ui = auto
[core]
    editor = /usr/bin/vim
    excludesFile = ~/.gitignore
[alias]
    st = status
    gr = log --graph --all --oneline --decorate --color --date=default
    autocrlf = input
