[user]
    name = jalemy
    email = jalemy.xps@gmail.com
[color]
    ui = auto
[core]
    editor = /usr/bin/vim
    excludesFile = ~/.gitignore
    autocrlf = input
[alias]
    st = status
    br = branch
    gr = log --graph --all --oneline --decorate --color --date=default
    delete-merged-branch = "!f () { branch --merged | grep -v '\\*|develop|master' | xargs git branch -d; }"
    dmb = "!f () { branch --merged | grep -v '\\*|develop|master' | xargs git branch -d; }"
